html, body {
    margin: 0;
    padding: 0;
    background-color: #637373;
    color: #FFEADB;
    font-family: sans-serif;
}

#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;
}

header {
    text-align: center;
    display: none;
    visibility: hidden;
    position: fixed;
}

main {
    margin: 12px;
}

p {
    padding: 3px;
    text-align: center;
}

h1 {
    text-align: center;
}

h2, em {
    width: 100%;
    display: none;
    visibility: hidden;
    position: fixed;
}

#rnbo-root {
    margin: auto;
    max-width: 540px;
}

#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}
/* quité el .cinco que son los presets */
.uno, .dos, .tres, .cuatro {
    display: none;
    visibility: hidden;
    position: fixed;
}

/* js 126 */
.slider-container {
    position: relative;
    min-height: 70px;
    width: auto;
    margin: 3px;
}

input[type="range"] {
    appearance: none; /* -webkit-appearance */
    width: auto;
    height: 70px;
    background-color: #FF9A76;
    border-radius: 7px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 70px;
    height: 70px;
    background-color: #FFEADB;
    border: 14px solid #637373;
    border-radius: 50%;
    cursor: grab;
    z-index: 3;
}

#gain {
    background-color: #FFEADB;
    margin-top: 34px;
}

#gain::-webkit-slider-thumb {
    background-color: #FFEADB;
    border: 14px solid #679B9B;
    border-radius: 7px;
}
/* js 126 */

.cinco select {
    margin: 30px 0;
    padding: 7px;
    border-radius: 50px;
    background-color: #FFEADB;
    border: 7px solid #FF9A76;
    font-family: sans-serif;
    font-weight: bolder;
    color: #679B9B;
}
/* PRESET js 286 */